/* Фіксована ширина текстового поля */
.full-width {
    width: 100%; /* Ширина на весь метабокс */
    max-width: 100%; /* Забезпечує, що ширина не перевищує контейнер */
    box-sizing: border-box; /* Враховує padding */
}

.qr-code-metabox-content {
    padding: 10px;
}

.qr-code-metabox-content p {
    margin-bottom: 10px;
}

.qr-code-image-preview img {
    border: 1px solid #ddd;
    padding: 5px;
    background-color: #f9f9f9;
    max-width: 100%;
    height: auto;
}

#generate_qr_code {
    margin-right: 5px;
}

#upload_qr_code {
    margin-left: 5px;
}

/* Кнопки на всю ширину */
.full-width-btn {
    width: 100%; /* Кнопки займають всю ширину метабоксу */
    margin-bottom: 10px; /* Відступи між кнопками */
}

/* Попередній перегляд зображення QR-коду */
.qr-code-image-preview img {
    border: 1px solid #ddd;
    padding: 5px;
    background-color: #f9f9f9;
    max-width: 100%;
    height: auto;
}

.completion-circle {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 5px;
}
